nav{
    position: fixed;
    display: grid;
    width: 100%;
    grid-template-columns: 30% 70%;
    z-index: 2;
    .logo{
        // width: 30%;
        img{
            width: 204px;
            // 184px width było spoko
            margin-left: 10%;
        }
    }
    .nav-links{
            width: 60%;
            margin-left: 30%;
            ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            // align-items: flex-start;
            grid-template-rows: 1fr 1fr;
            padding-left: 0;
            margin: 0;
            list-style: none;
                li{
                flex-grow: 1;
                list-style: none;
                // padding-left: 40px;
                line-height: 170%;

                    button{
                    width: 150px;
                    height: 30px;
                    border-radius: 30%;
                    border: 1px solid white;
                    background-color: transparent;
                    }
                    a{
                        margin-top: 250px;
                        text-decoration: none;
                        color: white;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: bold;
                        padding: 40px 9px 35px;
                    }
                }
            }
        }
}

  