nav{
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 10;
   .header-content{
       display: flex;
       justify-content: center;
       align-items: space-around;
       width: 92%;
       max-width: 1300px;
       margin: auto;
       text-justify: left;
       padding: 22px 0;
    //    height: 36px;
       display: block;
       .logo{
        // width: 40%;
       }
       .nav-links{
        //    width: 60%;
            display: flex;
            justify-content: space-around;
            ul{
                display: flex;
                flex-direction: ;
            } 
       }
   }
}